language: node_js
node_js:
  - "4"
  - "6"
services:
  - redis-server
before_script:
  - npm install -g coveralls
script:
  - npm run coverage
after_script:
  - cat ./coverage/lcov.info | coveralls
  